<p>BIENVENIDO A GESTIÓN DE PERSONAL Y DEPARTAMENTOS IT</p>
<div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
        <nav class="navbar navbar-dark bg-dark">
            <form class="container-fluid justify-content">
                <button routerLink="/empleados" class="btn btn-outline-success me-2" type="button">EMPLEADOS</button>
                <button routerLink="/departamentos" class="btn btn-sm btn-outline-secondary" type="button">DEPARTAMENTOS</button>
                <!-- <button  *ngIf="isLog" (click)="cierreSesion()">Cierre de Sesión</button> -->
            </form>
        </nav> 
    </div>
</div>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>