<div class="titulo">
    <h2 class="text-center text-uppercase">Bienvenido a Departamentos</h2>
</div>

<div class="container my-5">
    <div class="col-md-4 offset-md-10">
        <button type="button" class="btn btn-success" (click)="toggleDiv()">
            <i class="bi bi-plus-square"></i>
            Agregar un nuevo departamento
        </button>
    </div>
</div>

<div class="container mt-5 " *ngIf="showDiv">
    <h3 class="text-center">{{ editMode ? 'Modificar Departamento' : 'Crear Departamento' }}</h3>
    <form class="py-5 col-lg-6 text-center">
        <div class="mb-3">
            <label for="inputName" class="form-label">name</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="name"/>
        </div>
        <div class="mb-3">
            <label for="inputImagen" class="form-label">codigo_departamento</label>
            <input type="text" class="form-control" name="codigo_departamento" [(ngModel)]="codigo_departamento"/>
        </div>

        <button (click)="editMode ? putDepartamento() : postData()" type="button"
            class="btn btn-primary bg-my-color col-12 btn btn-success">
            {{ editMode ? 'Modificar Departamento' : 'Crear Departamento' }}
        </button>
        <button (click)="toggleDiv()" type="button" class="btn btn-danger bg-my-color col-12 mt-3">
            Cerrar
        </button>
    </form>
    
</div>


<main class="container mt-5 border border-black rounded-3 my-5">
    <h2>DEPARTAMENTOS</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">name</th>
                <th scope="col">codigo_departamento</th>
            </tr>
        </thead>
        <tbody class="table-group-divider" id="miTabla">
            <tr *ngFor="let departamento of allDepartamentos">
                <td>{{departamento.codigo_departamento}}</td>

                <td>{{departamento.name}}</td>
                <td>{{departamento.codigo_departamento}}</td>
                <td class="acciones">
                    <button type="button" class="btn btn-info mx-3" (click)="departamentoid(departamento.name)">
                        <i class="bi bi-pencil-square"></i>
                        Editar
                    </button>
                </td>
            </tr>
            
        </tbody>
    </table>

    <button></button>
</main>